body{
    background-color: #cfe0e8;
  }
  p {
    font-family: Cambria;
    text-align: justify;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 40px;
  }
  h1 {
    background-color: #b7d7e8;
    font-family: Cambria;
    padding:1% 0 2% 0; 
    margin-left: -12px;
    margin-top: -8px;
    margin-bottom: -40px;
    margin-right: -12px;
    font-family: Cambria;
    border-top:solid;
  }
  h2 {
    background-color: #b7d7e8;
    padding:2% 0 2% 0;
    border:black; 
    margin-right: -12px; 
    margin-left: -12px;
    margin-bottom: -40px;
    margin-top: 0px;
  }
  
  h3 {
    background-color: #b7d7e8;
    padding:2% 0 2% 0; 
    margin-left: -12px;
    margin-top: -30px;
    margin-bottom: -16px; 
    margin-right: -12px; 
    font-size: 23px;
    font-family: Cambria;
    border-bottom: black; border-bottom: solid;
  }

  h4{
    font-size: 20px;
    font-family: Cambria;
  }
  h6 {
    font-family: Cambria;
    border:black; padding:2% 0 2% 0; 
    margin-left: -50px; margin-right: -50px;
    margin-top: 120px;
    margin-bottom: 0px;
    border-top:solid;
    font-size: 17px;
  }
  h7 {
    padding:2% 0 2% 0; 
    margin-left: -50px; margin-right: -50px;
    margin-top: 120px; margin-bottom: -20px;
  }

  .center{
    text-align: center;
  }

  .padding{
    padding:8% 0 2% 0; 

  }
  .paddingPics{
    padding:20% 0 2% 0; 
  }

  .hardBorder{
    margin-left: -50px; margin-right: -50px;
    margin-top: -10px;
    padding:8% 0 2% 0; 
    border:black;
    border-top:solid;
  }